{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width= device-width; initial-scale= 1.0">
        <title>{% block title %}{% endblock %} | otega richard</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>
        <header>
            <h1>otega richard.</h1>
            <div class="navbar">
              <ul>
                  <li class="hideOnMobile"><a href="{% url 'home' %}">home</li>
                  <li class="hideOnMobile"><a href="{% url 'about' %}">about</a></li>
                  <li class="hideOnMobile"><a href="{% url 'blog' %}">blog</a></li>
                  <li class="hideOnMobile"><a href="{% url 'portfolio' %}">recent work</a></li>
                  <li class="hideOnMobile"><a href="{% url 'contact' %}">contact me</a></li>
                  <li onclick="showSideBar()"><img src="{% static 'align-left.png' %}"></li>
              </ul>
            </div>
            <div class="sidebar">
                <ul>
                    <li onclick="hideSideBar()"><img src="{% static 'cross.png' %}"></li>
                    <li><a href="{% url 'home' %}">home</li>
                    <li><a href="{% url 'about' %}">about</a></li>
                    <li><a href="{% url 'blog' %}">blog</a></li>
                    <li><a href="{% url 'portfolio' %}">recent work</a></li>
                    <li><a href="{% url 'contact' %}">contact me</a></li>
                </ul>
            </div>
        </header>
       {% block content %}
       {% endblock %}
        <footer>
            <p>© 2025 otega richard. All rights reserved</p>
            <ul>
                <li><a href="#"><img src="{% static 'github-icon.png' %}" alt="github"></a></li>
                <li><a href="#"><img src="{% static 'insta-icon.png' %}" alt="instagram"></a></li>
                <li><a href="#"><img src="{% static  'twitter-icon.png' %}" alt="twitter"></a></li>
            </ul>
        </footer>
        <script>
            function showSideBar(){
                const sidebar = document.querySelector('.sidebar')
                sidebar.style.display = 'flex'
            }
            function hideSideBar(){
                const sidebar = document.querySelector('.sidebar')
                sidebar.style.display = 'none'
            }
            function darkMode(){
                const darkmode = document.querySelector('.dark-mode')
                darkmode.style.backgroundColor = 'black'r4f
                darkmode.style.color = 'white'
            }            
        </script>
    </body>
</html>