{% extends 'base.html' %}
{% block title %}blog{% endblock %}

{% block content %}
<div class="blog-section dark-mode" onclick="darkMode()">
    <h1>{{ post.title }}</h1>
    <h6>{{ post.created }}</h6>
    <div class="header-img">
        <img src="{{ post.topic_image.url }}">
    </div>
    <p>{{ post.body }}</p>
    <div class="related-images">
        {% for related in post.images.all %}
            <img src="{{ related.image.url }}">
        {% endfor%}
    </div>
</div>
{% endblock %}