{% extends 'base.html' %}
{% load static %}

{% block title %}blog{% endblock %}

{% block content %}
            <section class="blog-section">
                <h1>blog</h1>
                {% for posts in post %}
                <div class="blog-post">
                    <h2>{{ posts.title }}</h2>
                    <p class="date">created: {{ posts.created }}</p>
                    <p>{{ posts.preface }}</p>
                    <a href="{% url 'blogpost' posts.id %}">read more...</a>
                </div>
                {% endfor %}
            </section>
  {% endblock %}
  