{% extends 'base.html' %}
{% load static %}

{% block title %}portfolio{% endblock %}

{% block content %}
           <section class="portfolio-section">
            <h1>portfolio</h1>
            <div class="portfolio-grid">
              {% for newproject in newproject %}
                <div class="image-card">
                    <img src="{{ newproject.image.url }}">
                    <h2>{{ newproject.name }}</h2>
                    <p>{{ newproject.description }}</p>
                </div>
              {% endfor %}
            </div>
           </section>
  {% endblock %}